input[type=button] {
    border-radius: 5px;
    color: #fff;
    width: 20%;
    height:100%;
    margin: 1%;
    border: none;
    font-size: 20px;
    background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
}